DifyWorks/workflows/短视频分析工作流.yml
app:
  description: '专业的短视频分析工作流，从故事连贯性、画面风格统一性、文案台词吸引力、画质清晰度等多个维度进行全面分析，提供专业的改进建议。'
  icon: 🎬
  icon_background: '#FFE4E8'
  mode: workflow
  name: 短视频分析工作流
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.0.26@c1e643ac6a7732f6333a783320b4d3026fa5e31d8e7026375b98d44418d33f26
kind: app
version: 0.3.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .MP4
      - .MOV
      - .AVI
      - .MKV
      - .WEBM
      allowed_file_types:
      - video
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: true
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 100
        image_file_size_limit: 10
        video_file_size_limit: 200
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 5
    opening_statement: '欢迎使用短视频分析工作流！请上传您的视频文件，我将从故事连贯性、画面风格、文案吸引力、画质清晰度等多个专业维度进行全面分析，并提供详细的改进建议。'
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - 如何提升短视频的故事连贯性？
    - 什么样的画面风格更容易吸引观众？
    - 如何优化文案台词的吸引力？
    - 短视频画质有哪些技术要求？
    suggested_questions_after_answer:
      enabled: true
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: llm
      id: 1736412001000-1736412002000
      source: '1736412001000'
      sourceHandle: source
      target: '1736412002000'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: if-else
      id: 1736412002000-1736412003000
      source: '1736412002000'
      sourceHandle: source
      target: '1736412003000'
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: llm
      id: 1736412003000-1736412004000
      source: '1736412003000'
      sourceHandle: 'true'
      target: '1736412004000'
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: llm
      id: 1736412003000-1736412005000
      source: '1736412003000'
      sourceHandle: 'false'
      target: '1736412005000'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: llm
      id: 1736412004000-1736412006000
      source: '1736412004000'
      sourceHandle: source
      target: '1736412006000'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: llm
      id: 1736412005000-1736412006000
      source: '1736412005000'
      sourceHandle: source
      target: '1736412006000'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: llm
      id: 1736412006000-1736412007000
      source: '1736412006000'
      sourceHandle: source
      target: '1736412007000'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: llm
      id: 1736412007000-1736412008000
      source: '1736412007000'
      sourceHandle: source
      target: '1736412008000'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: end
      id: 1736412008000-1736412009000
      source: '1736412008000'
      sourceHandle: source
      target: '1736412009000'
      targetHandle: target
      type: custom
    nodes:
    - data:
        desc: '请上传短视频文件并填写分析需求'
        selected: false
        title: 开始
        type: start
        variables:
        - label: 视频文件
          max_length: null
          options: []
          required: true
          type: file
          variable: video_files
        - label: 视频类型
          max_length: 48
          options:
          - 产品展示
          - 教程说明
          - 娱乐搞笑
          - 知识科普
          - 情感故事
          - 商业广告
          - 生活记录
          - 其他
          required: true
          type: select
          variable: video_type
        - label: 特殊分析需求
          max_length: 500
          options: []
          required: false
          type: paragraph
          variable: analysis_requirements
      height: 178
      id: '1736412001000'
      position:
        x: 80
        y: 300
      positionAbsolute:
        x: 80
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: '专业视频内容分析师，分析视频基本信息并提取关键参数'
        model:
          completion_params:
            frequency_penalty: 0
            max_tokens: 1024
            presence_penalty: 0
            temperature: 0.1
            top_p: 1
          mode: chat
          name: gpt-4-turbo
          provider: langgenius/openai/openai
        prompt_template:
        - role: system
          text: '你是一名专业的视频内容分析师，专门负责视频的基础信息分析和初步质量评估。

            请分析上传的视频文件，并在最后输出一个关键判断：

            ## 分析任务
            1. **技术参数**：视频时长、分辨率、格式等基础信息
            2. **内容概述**：主要内容、主题、风格特点
            3. **初步质量评估**：整体质量印象、明显问题识别
            4. **视觉元素**：画面构图、色彩搭配、人物/场景
            5. **音频元素**：背景音乐、语音、音效
            
            ## 重要：时长判断
            请在分析结束时明确输出：
            - 如果视频时长≥30秒，输出："LONG_VIDEO"
            - 如果视频时长<30秒，输出："SHORT_VIDEO"
            
            ## 输出要求
            - 客观描述，避免主观判断
            - 提供具体的技术参数
            - 识别视频的核心要素
            - 最后一行必须输出时长判断结果
            
            视频类型：{{#1736412001000.video_type#}}
            特殊需求：{{#1736412001000.analysis_requirements#}}'
        - role: user
          text: '请分析这个视频的基础信息：{{#1736412001000.video_files#}}'
        selected: false
        title: 基本信息分析
        type: llm
        variables: []
        vision:
          enabled: true
      height: 90
      id: '1736412002000'
      position:
        x: 380
        y: 300
      positionAbsolute:
        x: 380
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: '1736412003001'
            value: LONG_VIDEO
            variable_selector:
            - '1736412002000'
            - text
          logical_operator: and
        conditions:
        - comparison_operator: contains
          id: '1736412003001'
          value: LONG_VIDEO
          variable_selector:
          - '1736412002000'
          - text
        desc: '根据基础分析结果判断视频时长类型'
        logical_operator: and
        selected: false
        title: 时长判断
        type: if-else
      height: 126
      id: '1736412003000'
      position:
        x: 680
        y: 300
      positionAbsolute:
        x: 680
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: '长视频深度内容分析'
        model:
          completion_params:
            frequency_penalty: 0
            max_tokens: 1024
            presence_penalty: 0
            temperature: 0.3
            top_p: 1
          mode: chat
          name: gpt-4-turbo
          provider: langgenius/openai/openai
        prompt_template:
        - role: system
          text: '你是一名资深的长视频内容分析师，专门分析30秒以上的视频内容。

            ## 长视频分析重点
            1. **故事结构完整性**：开头-发展-高潮-结尾的完整性
            2. **内容深度评估**：信息密度、知识点覆盖、深度层次
            3. **节奏控制**：节奏变化、转场处理、观众注意力维持
            4. **受众耐心管理**：如何维持长时间观看兴趣
            5. **完播率优化要素**：哪些因素影响用户看完视频

            ## 分析维度评分（100分制）
            - 故事连贯性：情节逻辑、转折合理性、结构完整性
            - 内容价值：信息密度、实用性、独特性
            - 节奏控制：起伏变化、高潮设置、注意力管理
            - 观看体验：流畅度、舒适度、完播意愿

            ## 输出要求
            请提供专业的长视频分析报告，包含具体评分和改进建议。

            基础信息：{{#1736412002000.text#}}
            视频类型：{{#1736412001000.video_type#}}'
        - role: user
          text: '请对这个长视频进行深度内容分析。'
        selected: false
        title: 长视频分析
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '1736412004000'
      position:
        x: 980
        y: 200
      positionAbsolute:
        x: 980
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: '短视频快节奏分析'
        model:
          completion_params:
            frequency_penalty: 0
            max_tokens: 1024
            presence_penalty: 0
            temperature: 0.3
            top_p: 1
          mode: chat
          name: gpt-4-turbo
          provider: langgenius/openai/openai
        prompt_template:
        - role: system
          text: '你是一名专业的短视频内容分析师，专门分析30秒以下的短视频内容。

            ## 短视频分析重点
            1. **开头吸引力**：前3秒Hook设计、抓眼球效果
            2. **信息密度**：短时间内信息传达效率
            3. **快节奏适配**：剪辑节奏、转场速度、信息压缩
            4. **即时冲击力**：视觉冲击、情感冲击、记忆点
            5. **分享传播要素**：梗、话题性、病毒传播潜力

            ## 分析维度评分（100分制）
            - 开头吸引力：前3秒效果、Hook设计、点击诱因
            - 节奏紧凑度：信息密度、剪辑速度、无废话程度  
            - 视觉冲击力：画面张力、色彩对比、构图创意
            - 传播潜力：梗的设计、话题性、分享意愿

            ## 输出要求
            请提供专业的短视频分析报告，包含具体评分和改进建议。

            基础信息：{{#1736412002000.text#}}
            视频类型：{{#1736412001000.video_type#}}'
        - role: user
          text: '请对这个短视频进行快节奏分析。'
        selected: false
        title: 短视频分析
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '1736412005000'
      position:
        x: 980
        y: 400
      positionAbsolute:
        x: 980
        y: 400
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: '专业视觉设计师进行画面分析'
        model:
          completion_params:
            frequency_penalty: 0
            max_tokens: 1024
            presence_penalty: 0
            temperature: 0.2
            top_p: 1
          mode: chat
          name: gpt-4-turbo
          provider: langgenius/openai/openai
        prompt_template:
        - role: system
          text: '你是一名资深的视觉设计师，专门负责视频的画面风格和视觉质量分析。

            ## 视觉分析维度
            1. **画面风格统一性**
               - 色彩搭配协调性
               - 构图风格一致性
               - 视觉元素统一性
               - 整体美学风格

            2. **画质清晰度**
               - 分辨率质量评估
               - 压缩优化程度
               - 噪点控制效果
               - 色彩还原准确性

            3. **构图与美学**
               - 构图法则运用
               - 视觉引导设计
               - 空间层次感
               - 美学价值评估

            ## 评分标准（100分制）
            - 色彩协调性(25分)：色彩搭配、对比度、饱和度
            - 构图质量(25分)：构图法则、视觉平衡、焦点突出
            - 视觉一致性(25分)：风格统一、元素协调、品牌识别
            - 技术质量(25分)：清晰度、压缩质量、色彩还原

            ## 输出要求
            提供专业的视觉分析报告，包含具体评分和视觉优化建议。

            基础信息：{{#1736412002000.text#}}
            内容分析：{{#1736412004000.text#}}{{#1736412005000.text#}}
            视频类型：{{#1736412001000.video_type#}}'
        - role: user
          text: '请对视频进行专业的视觉分析。'
        selected: false
        title: 视觉分析
        type: llm
        variables: []
        vision:
          enabled: true
      height: 90
      id: '1736412006000'
      position:
        x: 1280
        y: 300
      positionAbsolute:
        x: 1280
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: '文案策划师分析台词和音频'
        model:
          completion_params:
            frequency_penalty: 0
            max_tokens: 1024
            presence_penalty: 0
            temperature: 0.3
            top_p: 1
          mode: chat
          name: gpt-4-turbo
          provider: langgenius/openai/openai
        prompt_template:
        - role: system
          text: '你是一名专业的文案策划师，专门负责视频的文案台词和音频质量分析。

            ## 文案分析维度
            1. **台词吸引力**
               - 语言表达力和感染力
               - 开头Hook设计效果
               - 情感共鸣度评估
               - 行动召唤效果

            2. **音频质量**
               - 语音清晰度
               - 背景音乐匹配度
               - 音效使用恰当性
               - 整体音频体验

            3. **内容策略**
               - 目标受众适配度
               - 传播话题性
               - 记忆点设计
               - 互动引导设计

            ## 评分标准（100分制）
            - 开头吸引力(30分)：Hook设计、第一印象、点击诱因
            - 语言表达力(25分)：表达技巧、情感传递、说服力
            - 情感共鸣度(25分)：情感触达、用户代入感、共情效果
            - 行动召唤效果(20分)：CTA设计、转化引导、互动激励

            ## 输出要求
            提供专业的文案音频分析报告，包含具体评分和优化建议。

            基础信息：{{#1736412002000.text#}}
            视觉分析：{{#1736412006000.text#}}
            视频类型：{{#1736412001000.video_type#}}
            特殊需求：{{#1736412001000.analysis_requirements#}}'
        - role: user
          text: '请对视频的文案台词和音频进行专业分析。'
        selected: false
        title: 文案分析
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '1736412007000'
      position:
        x: 1580
        y: 300
      positionAbsolute:
        x: 1580
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: '短视频制作总监综合评估并输出最终报告'
        model:
          completion_params:
            frequency_penalty: 0
            max_tokens: 2048
            presence_penalty: 0
            temperature: 0.3
            top_p: 1
          mode: chat
          name: gpt-4-turbo
          provider: langgenius/openai/openai
        prompt_template:
        - role: system
          text: '你是一名顶级的短视频制作总监，拥有丰富的行业经验和敏锐的市场洞察力。现在需要基于团队的专业分析，给出最终的综合评估和改进建议。

            ## 评估任务
            1. **综合评分系统**：基于五个维度给出100分制评分
               - 故事连贯性：情节逻辑、转折合理性、结构完整性
               - 画面风格统一性：色彩协调、构图质量、视觉一致性  
               - 文案台词吸引力：开头Hook、语言表达、情感共鸣
               - 画质清晰度：分辨率、压缩优化、色彩还原
               - 技术制作水平：剪辑技术、音频处理、后期工艺

            2. **改进建议分级**
               - 🚨 紧急改进项：影响基本观看体验的问题
               - ⭐ 重要优化项：显著提升质量的改进点
               - 🎯 长期提升方向：战略性改进建议

            3. **具体执行方案**：每个建议都要提供具体的操作步骤

            4. **成功案例参考**：结合行业成功案例给出参考方向

            ## 输出格式（Markdown）
            请按以下格式生成专业分析报告：

            # 🎬 短视频专业分析报告

            ## 📋 基本信息
            [基础分析信息]

            ## 🎯 综合评分
            - 故事连贯性：XX/100分
            - 画面风格统一性：XX/100分  
            - 文案台词吸引力：XX/100分
            - 画质清晰度：XX/100分
            - 技术制作水平：XX/100分
            - **总体评分：XX/100分**

            ## 🚨 紧急改进项
            [列出需要立即解决的问题]

            ## ⭐ 重要优化项
            [列出重要的优化建议]

            ## 🎯 长期提升方向
            [列出战略性改进方向]

            ## 📊 专业分析详情
            ### 🎨 视觉分析
            [视觉分析详情]

            ### ✍️ 文案分析  
            [文案分析详情]

            ---
            **分析完成时间：** [当前时间]
            **分析工具：** DifyWorks 短视频分析工作流
            **版本：** v1.0

            ## 分析材料
            基础分析：{{#1736412002000.text#}}
            
            内容分析：
            {{#1736412004000.text#}}{{#1736412005000.text#}}
            
            视觉分析：{{#1736412006000.text#}}
            文案分析：{{#1736412007000.text#}}

            ## 输出要求
            请生成一份专业、全面、可操作的短视频分析报告。'
        - role: user
          text: '请基于团队的专业分析，生成最终的综合评估报告。'
        selected: false
        title: 综合评估
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '1736412008000'
      position:
        x: 1880
        y: 300
      positionAbsolute:
        x: 1880
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1736412008000'
          - text
          variable: analysis_report
        selected: false
        title: 结束
        type: end
      height: 90
      id: '1736412009000'
      position:
        x: 2180
        y: 300
      positionAbsolute:
        x: 2180
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -100
      y: 0
      zoom: 0.5