DifyWorks/workflows/香水短视频分析工作流_v0.3.0_final_fix.yml
app:
  description: 专业的香水短视频内容分析与优化工具，面向西班牙TikTok市场，提供7维度评估和本地化文案创作。
  icon: "🌹"
  icon_background: "#FDF2F8"
  mode: workflow
  name: 香水短视频分析工作流 (v0.3.0 Final Fix)
kind: app
version: 0.3.0
workflow:
  features:
    file_upload:
      allowed_file_types:
        - video
      image:
        enabled: true
        number_limits: 6
        transfer_methods:
          - remote_url
          - local_file
    opening_statement: |
      欢迎使用香水短视频分析工作流！🌹

      我是「短视频精灵」，专门为香水类短视频提供专业分析和西班牙市场本地化建议。

      **我能为您做什么：**
      - 🎯 **7维度专业评估**: 从吸引力、创意、节奏等角度全面分析
      - 🇪🇸 **西班牙市场适配**: 提供本地化文案和文化建议
      - 📊 **量化评分报告**: 700分评分体系，精准定位问题
      - 🚀 **优化行动计划**: 即时调整+重拍建议+策略升级

      **请上传您的香水短视频文件，开始专业分析！**
    suggested_questions_after_answer:
      enabled: false
  graph:
    nodes:
      - id: start-node
        data:
          title: "开始"
          type: start
          desc: "上传香水短视频文件"
          variables:
            - variable: video_file
              label: "香水短视频"
              type: file
              required: true
              max_length: 50
              file_types:
                - "video/mp4"
                - "video/mov"
                - "video/avi"
        height: 116
        width: 244
        position: { x: 30, y: 300 }
        selected: false
        sourcePosition: right
        targetPosition: left
      - id: doc-extractor-node
        data:
          title: "视频转文字"
          type: doc-extractor
          desc: "提取视频中的语音和字幕信息"
          extract_settings:
            - extract_type: text
              source: "{{#start-node.video_file#}}"
          vision:
            enabled: true
            configs:
              detail: high
        height: 54
        width: 244
        position: { x: 334, y: 300 }
        selected: false
        sourcePosition: right
        targetPosition: left
      - id: analysis-llm-node
        data:
          title: "7维度专业分析"
          type: llm
          desc: "基于7维度专业标准对香水短视频进行全面分析评估"
          model:
            provider: openai
            name: gpt-4o
            mode: chat
            completion_params:
              temperature: 0.3
          vision:
            enabled: true
          prompt_template:
            - role: system
              text: |
                你是「短视频精灵」(Perfume Video Wizard)，一个专业的香水类短视频内容分析师，具备以下专业能力：
                - 🎬 短视频内容分析与审核专家
                - 🌹 香水产品营销策略顾问
                - 🇪🇸 西班牙TikTok市场本地化专家
                - 📱 多模态内容识别与评估专家
                **工作原则**: 评估标准科学严谨，评分有据可依，建议具体可操作，充分考虑香水产品特殊性和拍摄限制，文案创作符合西班牙文化和TikTok传播特点。
            - role: user
              text: |
                # 任务：香水短视频全面分析
                请对上传的香水短视频进行全面分析，严格按照以下步骤和标准执行：
                ## 第一步：视频内容识别
                1.  **基本信息提取**: 视频时长、分辨率、主要场景。
                2.  **画面内容描述**: 拍摄场景、产品展示方式、人物动作、道具使用。
                3.  **文字信息识别**: 字幕、屏幕文字、品牌标识。
                4.  **音频内容分析**: 口播内容、背景音乐风格、音效使用。
                5.  **产品信息识别**: 香水品牌、瓶身设计特征。
                ## 第二步：7维度专业评估 (每个维度100分)
                请为以下7个维度逐一评分，并给出详细的评分依据。
                ### 1. 吸引力维度 (前3秒)
                ### 2. 内容创意维度
                ### 3. 主题聚焦维度
                ### 4. 节奏控制维度
                ### 5. 文案引导力维度
                ### 6. 画面美感维度
                ### 7. 声音配乐维度
                ## 第三步：问题诊断
                - 列出得分低于80分的维度，分析具体问题点。
                **输入文件**:
                - **视频**: {{#start-node.video_file#}}
                - **提取的文字**: {{#doc-extractor-node.text#}}
        height: 98
        width: 244
        position: { x: 638, y: 300 }
        selected: false
        sourcePosition: right
        targetPosition: left
      - id: aggregator-node
        data:
          title: "结果聚合"
          type: variable-aggregator
          desc: "聚合分析结果，为后续文案生成准备数据"
          variables:
            - variable_name: analysis_result
              variable_selector:
                - analysis-llm-node
                - text
            - variable_name: video_file
              variable_selector:
                - start-node
                - video_file
        height: 54
        width: 244
        position: { x: 942, y: 300 }
        selected: false
        sourcePosition: right
        targetPosition: left
      - id: copywriting-llm-node
        data:
          title: "文案生成与建议"
          type: llm
          desc: "基于分析结果生成西班牙市场本地化文案和优化建议"
          model:
            provider: openai
            name: gpt-4o
            mode: chat
            completion_params:
              temperature: 0.7
          vision:
            enabled: false
          prompt_template:
            - role: system
              text: "你是香水短视频文案创作和优化建议专家，擅长西班牙市场本地化和TikTok内容策略。你的建议必须具体可操作，西班牙语语法必须正确且自然。"
            - role: user
              text: |
                # 任务：优化方案与文案创作
                基于前面的视频分析结果，请完成以下任务：
                ## 任务1：优化建议生成
                提供具体可执行的优化建议，分为三类：即时优化、重拍建议、策略升级。
                ## 任务2：西班牙市场文案创作 (3条)
                为西班牙TikTok市场创作3条本地化文案（情感共鸣型、产品功能型、互动引导型）。
                **分析结果数据**: {{#aggregator-node.analysis_result#}}
        height: 98
        width: 244
        position: { x: 1246, y: 300 }
        selected: false
        sourcePosition: right
        targetPosition: left
      - id: template-node
        data:
          title: "报告格式化"
          type: template
          desc: "格式化最终的分析报告输出"
          template: |
            # 🌹 香水短视频专业分析报告
            ## 🎯 **7维度专业评估结果**
            {{#aggregator-node.analysis_result#}}
            ---
            ## 🎨 **西班牙市场本地化方案**
            {{#copywriting-llm-node.text#}}
            ---
            ## 📝 **总结**
            本报告基于专业的7维度评估体系，为香水类短视频在西班牙TikTok市场的优化提供科学指导。
        height: 54
        width: 244
        position: { x: 1550, y: 300 }
        selected: false
        sourcePosition: right
        targetPosition: left
      - id: end-node
        data:
          title: "结束"
          type: end
          desc: "输出完整的分析报告"
          outputs:
            - variable: analysis_report
              value_selector:
                - template-node
                - output
        height: 90
        width: 244
        position: { x: 1854, y: 300 }
        selected: false
        sourcePosition: right
        targetPosition: left
    edges:
      - id: edge-start-to-extractor
        source: start-node
        target: doc-extractor-node
        zIndex: 0
        data:
          sourceType: start
          targetType: doc-extractor
      - id: edge-extractor-to-analysis
        source: doc-extractor-node
        target: analysis-llm-node
        zIndex: 0
        data:
          sourceType: doc-extractor
          targetType: llm
      - id: edge-analysis-to-aggregator
        source: analysis-llm-node
        target: aggregator-node
        zIndex: 0
        data:
          sourceType: llm
          targetType: variable-aggregator
      - id: edge-aggregator-to-copywriting
        source: aggregator-node
        target: copywriting-llm-node
        zIndex: 0
        data:
          sourceType: variable-aggregator
          targetType: llm
      - id: edge-copywriting-to-template
        source: copywriting-llm-node
        target: template-node
        zIndex: 0
        data:
          sourceType: llm
          targetType: template
      - id: edge-template-to-end
        source: template-node
        target: end-node
        zIndex: 0
        data:
          sourceType: template
          targetType: end 