DifyWorks/workflows/香水短视频分析工作流_修复版.yml
app:
  description: 专业的香水短视频内容分析与优化工具，面向西班牙TikTok市场，提供7维度评估和本地化文案创作
  icon: 🌹
  icon_background: '#FDF2F8'
  mode: workflow
  name: 香水短视频分析工作流
environment_variables: []
kind: app
version: 0.1.1
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_types:
      - video
      image:
        detail: high
        enabled: true
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: |
      欢迎使用香水短视频分析工作流！🌹

      我是「短视频精灵」，专门为香水类短视频提供专业分析和西班牙市场本地化建议。

      **我能为您做什么：**

      🎯 **7维度专业评估** - 从吸引力、创意、节奏等角度全面分析

      🇪🇸 **西班牙市场适配** - 提供本地化文案和文化建议

      📊 **量化评分报告** - 700分评分体系，精准定位问题

      🚀 **优化行动计划** - 即时调整+重拍建议+策略升级

      **请上传您的香水短视频文件，开始专业分析！**
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: doc-extractor
      id: start-to-extractor
      source: start-node
      sourceHandle: source
      target: doc-extractor-node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: doc-extractor
        targetType: llm
      id: extractor-to-analysis
      source: doc-extractor-node
      sourceHandle: source
      target: analysis-llm-node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: variable-aggregator
      id: analysis-to-aggregator
      source: analysis-llm-node
      sourceHandle: source
      target: aggregator-node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: variable-aggregator
        targetType: llm
      id: aggregator-to-copywriting
      source: aggregator-node
      sourceHandle: source
      target: copywriting-llm-node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: template
      id: copywriting-to-template
      source: copywriting-llm-node
      sourceHandle: source
      target: template-node
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: template
        targetType: end
      id: template-to-end
      source: template-node
      sourceHandle: source
      target: end-node
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: 香水短视频文件上传入口
        selected: false
        title: 开始
        type: start
        variables:
        - description: 请上传香水短视频文件进行分析
          file_types:
          - video/mp4
          - video/mov
          - video/avi
          - video/quicktime
          label: 视频文件
          max_length: 48
          required: true
          type: files
          variable: video_files
      height: 116
      id: start-node
      position:
        x: 30
        y: 282
      positionAbsolute:
        x: 30
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 提取视频中的文字信息，包括字幕、标识等
        selected: false
        title: 视频文字提取
        type: doc-extractor
        vision:
          configs:
            detail: high
          enabled: true
        extract_settings:
        - source: "{{#start-node.video_files#}}"
          extract_type: text
      height: 54
      id: doc-extractor-node
      position:
        x: 334
        y: 282
      positionAbsolute:
        x: 334
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 基于7维度专业标准对香水短视频进行全面分析评估
        model:
          completion_params:
            temperature: 0.3
          mode: chat
          name: gpt-4o
          provider: openai
        prompt_template:
        - id: system-prompt
          role: system
          text: |
            你是「短视频精灵」(Perfume Video Wizard)，一个专业的香水类短视频内容分析师，具备以下专业能力：

            **专业领域**：
            - 🎬 短视频内容分析与审核专家
            - 🌹 香水产品营销策略顾问  
            - 🇪🇸 西班牙TikTok市场本地化专家
            - 📱 多模态内容识别与评估专家

            **核心技能**：
            1. 视频内容全维度解析(画面、声音、文字)
            2. 基于7大专业维度的量化评估
            3. 西班牙语文化适配和双语文案创作
            4. 可执行的优化建议生成

            **工作原则**：
            - 评估标准科学严谨，评分有据可依
            - 建议具体可操作，避免空泛概念
            - 充分考虑香水产品特殊性和拍摄限制
            - 文案创作符合西班牙文化和TikTok传播特点
        - id: user-prompt
          role: user
          text: |
            请对上传的香水短视频进行全面分析，按照以下步骤执行：

            ## 第一步：视频内容识别

            **技术解析要求**：
            1. **基本信息提取**：视频时长、分辨率、主要场景
            2. **画面内容描述**：
               - 拍摄场景和环境布置
               - 香水产品展示方式和角度
               - 人物动作和手势(考虑无人脸出镜限制)
               - 道具使用和色彩搭配
            3. **文字信息识别**：字幕、屏幕文字、品牌标识
            4. **音频内容分析**：口播内容、背景音乐风格、音效使用
            5. **产品信息识别**：香水品牌、瓶身设计特征、使用场景

            ## 第二步：7维度专业评估

            按照以下评估体系对视频进行量化评分(每个维度100分，总分700分)：

            ### 1. 🎯 吸引力维度 (前3秒表现)
            **评分权重分配**：
            - 情绪冲击力(40分)：开场3秒内的情绪钩子强度
            - 视觉张力(35分)：色彩、构图、动作的视觉吸引力
            - 卖点切入(25分)：产品和核心价值的展示速度

            **评分标准**：
            - 90-100分：多重吸引元素完美融合，瞬间抓住注意力
            - 80-89分：有明显亮点，能有效吸引用户停留
            - 70-79分：有吸引元素但不够突出
            - 60-69分：吸引力一般，需要优化
            - 60分以下：缺乏有效吸引点

            ### 2. 🎨 内容创意维度
            **评分权重分配**：
            - 共鸣感建立(40分)：是否贴近西班牙女性日常生活
            - 创意融合度(35分)：创意与产品展示的自然结合
            - 场景代入感(25分)：使用场景的真实性和代入感

            ### 3. 🎯 主题聚焦维度
            **评分权重分配**：
            - 卖点明确度(45分)：核心价值表达的清晰度
            - 场景契合度(35分)：使用场景与产品特点的匹配
            - 用户匹配度(20分)：内容与目标用户群体的契合

            ### 4. ⏰ 节奏控制维度
            **评分权重分配**：
            - 切换顺畅度(40分)：画面转换的自然流畅程度
            - 高潮设置(35分)：是否有明显的情绪高潮点
            - 音画同步度(25分)：BGM与画面节奏的协调性

            ### 5. 📝 文案引导力维度
            **评分权重分配**：
            - 钩子文案效果(45分)：开场文案的吸引力和自然度
            - 卖点导入逻辑(35分)：从钩子到产品的逻辑流畅性
            - 互动引导自然度(20分)：评论引导的自然程度

            ### 6. 🎨 画面美感维度
            **评分权重分配**：
            - 技术质量(40分)：清晰度、稳定性、曝光控制
            - 美学风格(35分)：色彩搭配与香水调性的匹配
            - 产品展示质量(25分)：香水瓶身的展示效果

            ### 7. 🎵 声音配乐维度
            **评分权重分配**：
            - 口播质量(45分)：语音清晰度和情绪表达
            - 配乐契合度(35分)：BGM与香水调性、西班牙文化的匹配
            - 整体协调性(20分)：音画同步和音效运用

            ## 第三步：问题诊断
            基于评估结果，识别主要问题：
            - 列出得分低于80分的维度
            - 分析具体问题点和影响程度
            - 评估改进的紧急程度和难易度

            **输出要求**：
            每个维度提供具体评分和详细评分依据，问题诊断要具体到可操作的改进点。

            **视频文件**：{{#start-node.video_files#}}
            **提取的文字信息**：{{#doc-extractor-node.text#}}
        selected: false
        title: 7维度专业分析
        type: llm
        variables: []
        vision:
          enabled: true
      height: 98
      id: analysis-llm-node
      position:
        x: 638
        y: 282
      positionAbsolute:
        x: 638
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 聚合分析结果，为后续文案生成准备数据
        selected: false
        title: 结果聚合
        type: variable-aggregator
        variables:
        - variable_name: analysis_result
          variable_selector:
          - analysis-llm-node
          - text
        - variable_name: video_files
          variable_selector:
          - start-node
          - video_files
        - variable_name: extracted_text
          variable_selector:
          - doc-extractor-node
          - text
      height: 54
      id: aggregator-node
      position:
        x: 942
        y: 282
      positionAbsolute:
        x: 942
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 基于分析结果生成西班牙市场本地化文案和优化建议
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o
          provider: openai
        prompt_template:
        - id: copywriting-system
          role: system
          text: 你是香水短视频文案创作和优化建议专家，擅长西班牙市场本地化和TikTok内容策略。
        - id: copywriting-user
          role: user
          text: |
            基于前面的视频分析结果，请完成以下任务：

            ## 任务1：西班牙市场文案创作

            为西班牙TikTok市场创作3条本地化文案：

            **目标用户**：18-35岁西班牙女性，注重品质但价格敏感，重视家庭和社交关系

            **语言风格**：
            - 情感表达直接热情，符合拉丁文化特点
            - 使用贴近生活的口语化表达
            - 适量融入当地流行语和表达习惯
            - 避免过于正式的商业化表达

            **文案类型分布**：
            1. **情感共鸣型**：建立情感连接，引发共鸣
            2. **产品功能型**：突出香水的核心价值和效果
            3. **互动引导型**：自然引导用户参与互动

            ## 任务2：优化建议生成

            基于分析结果，提供具体可执行的优化建议：

            ### 即时优化 (可立即调整，无需重拍)
            针对评分60-79分的问题，提供：
            - **具体问题点**：明确指出需要调整的内容
            - **调整方法**：详细的操作步骤
            - **预期效果**：调整后的改善程度

            ### 重拍建议 (需要重新制作内容)
            针对评分60分以下的严重问题，提供：
            - **核心问题分析**：根本原因和影响程度
            - **重拍关键要点**：必须改进的核心元素
            - **参考案例方向**：成功案例的特点分析

            ### 策略升级 (长期内容策略改进)
            基于整体表现，提供：
            - **内容策略调整方向**：未来内容创作的重点
            - **拍摄技巧提升建议**：技术层面的改进空间
            - **市场趋势对接建议**：与当前趋势的结合点

            **分析结果数据**：{{#aggregator-node.analysis_result#}}

            **质量要求**：
            - 西班牙语语法必须正确且自然
            - 建议必须具体可操作
            - 充分考虑香水产品特殊性和拍摄限制
            - 体现对西班牙市场文化的理解
        selected: false
        title: 文案生成与建议
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: copywriting-llm-node
      position:
        x: 1246
        y: 282
      positionAbsolute:
        x: 1246
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 格式化最终的分析报告输出
        selected: false
        template: |
          # 🌹 香水短视频专业分析报告

          ## 📊 **视频基本信息**
          基于上传的视频文件进行分析

          ---

          ## 🎯 **7维度专业评估结果**

          {{#aggregator-node.analysis_result#}}

          ---

          ## 🎨 **西班牙市场本地化方案**

          {{#copywriting-llm-node.text#}}

          ---

          ## 📝 **总结与建议**

          本报告基于专业的7维度评估体系，为香水类短视频在西班牙TikTok市场的优化提供科学指导。

          **关键改进方向：**
          - 优先处理评分低于80分的维度
          - 重点关注前3秒的吸引力设计
          - 加强西班牙文化本地化元素
          - 优化香水产品的视觉展示效果

          **下一步行动：**
          1. 根据即时优化建议调整当前内容
          2. 应用提供的西班牙语文案进行测试
          3. 制定重拍计划应对严重问题
          4. 建立长期内容策略优化机制

          ---

          *📞 如需进一步的专业咨询或定制化分析，请联系我们的香水短视频营销专家团队。*
        title: 报告格式化
        type: template
        variables: []
      height: 54
      id: template-node
      position:
        x: 1550
        y: 282
      positionAbsolute:
        x: 1550
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 输出完整的香水短视频分析报告
        outputs:
        - value_selector:
          - template-node
          - output
          variable: analysis_report
        selected: false
        title: 结束
        type: end
      height: 90
      id: end-node
      position:
        x: 1854
        y: 282
      positionAbsolute:
        x: 1854
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244 